:root {
  --re-header-color: #e0ce00;
  --re-title-color: #FFF;
  --re-dm-title-color: #DDD;
  /* --re-header-color: #cab900; */
}

div.re_checkbox {
  float: right;
}

div.re_checkbox > input:[type='checkbox'] {
    position: relative;
    top: 6px;
    cursor: pointer;
}

div.re_checkbox > label {
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 15px;
}

div.re_container {
margin-top: 10px;
display: flex;
flex-direction: column;
}

div.re_head {
  border-bottom: none;
  border-radius: 5px 5px 5px 5px;
  padding: 6px 10px;
  background-size: 4px;
  cursor: pointer;
}

div.re_head.expanded {
border-bottom: none;
border-radius: 5px 5px 0px 0px;
}

span.re_title {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 16px;
}

.re_content {
  border-radius: 0px 0px 5px 5px;
}

.re_row {
display: flex;
margin: 0.75em;
justify-content: space-between;
}

div.re_row[hidden] {
  margin: 0px !important;
}

.re_col {
margin-left: 20px;
margin-right: 20px;
}

div.re_icon_wrap {
align-items: center;
justify-content: center;
width: 16px;
float: right;
}

span.re_icon svg {
display: block;
height: 16px;
cursor: pointer;
margin-left: auto;
margin-right: auto;
}

span.re_icon.arrow_right svg path {
d: path('M4 6l-4 4 6 6-6 6 4 4 10-10L4 6z');
}

span.re_icon.arrow_down svg path {
d: path('M16 10l-6 6-6-6-4 4 10 10 10-10-4-4z');
}

div.re_button_wrap > button {
  margin-bottom: 5px;
}

.re_container.after::after {
    display: block;
    content: "";
    border-right-width: initial;
    border-left-width: initial;
    border-right-color: initial;
    border-left-color: initial;
    margin: 10px 0px;
    border-style: solid none;
    border-image: initial;
    border-top: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(235, 235, 235);
}

input.re_chat_search {
  margin-left: 5px;
  padding-left: 3px;
  border-radius: 3px;
  height: 18px;
  width: 40%;
  display: none;
}

div[class*="chat-active"] > div > div > input.re_chat_search {
  display: inline;
}



/* Torn Styled Button */
.re_torn_button {
    background: transparent linear-gradient(180deg ,#CCCCCC 0%,#999999 60%,#666666 100%) 0 0 no-repeat;
    border-radius: 5px;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    color: #333;
    text-shadow: 0 1px 0 #ffffff66;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    border: none;
    outline: none;
    overflow: visible;
    box-sizing: border-box;
    line-height: 16px;
    padding: 4px 8px;
    height: auto;
    white-space: nowrap;
    cursor: pointer;
}

.re_torn_button:hover, .re_torn_button:focus {
    background: transparent linear-gradient(180deg,#E5E5E5 0%,#BBBBBB 60%,#999999 100%) 0 0 no-repeat;
    color: #333
}

.re_torn_button.disabled,.re_torn_button:disabled,.re_torn_button:hover.disabled,.re_torn_button:hover:disabled {
    color: #777;
    color: var(--btn-disabled-color);
    box-shadow: 0 1px 0 #ffffffa6;
    box-shadow: var(--btn-disabled-box-shadow);
    text-shadow: 0 -1px 0 #ffffff66;
    text-shadow: var(--btn-disabled-text-shadow);
    background: transparent linear-gradient(180deg,#999999 0%,#CCCCCC 100%) 0 0 no-repeat;
    background: var(--btn-disabled-background);
    cursor: default
}

/* Color Related CSS */
div.re_head {
  background-color: var(--re-header-color);
  background-image: linear-gradient(90deg, transparent 50%, rgba(0, 0, 0, 0.07) 0px);
}
body.dark-mode div.re_head {
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 25%);
}

span.re_icon svg {
  fill: #FFF;
}
body.dark-mode span.re_icon svg {
  fill: #DDD;
}

span.re_title {
  color: var(--re-title-color);
  text-shadow: rgba(0, 0, 0, 0.65) 1px 1px 2px;
}

body.dark-mode span.re_title {
  color: var(--re-dm-title-color);
  text-shadow: rgba(0, 0, 0, 0.65) 1px 1px 2px;
}

.re_content {
  background-color: #F2F2F2;
  border: 1px solid rgba(0, 0, 0, .5);
  border-top: none;
}

body.dark-mode .re_content {
  background-color: #333333;
  border: 1px solid #3B3B3B;
  border-top: none;
}

body.dark-mode .re_container.after::after {
  border-color: #333333 !important;
}

.re_container a, .re_container a:visited {
  color: #069;
}
.re_container a:hover {
  color: #62b4fd;
}
.re_container a:active {
  color: #a71d2a;
}

body.dark-mode .re_container a, body.dark-mode .re_container a:visited {
  color: #62b4fd;
}
body.dark-mode .re_container a:hover {
  color: #74c0fc;
}
body.dark-mode .re_container a:active {
  color: #a71d2a;
}
