/* CSS for ReTorn Example Title Header */ 
:root {
  --re-header-background: repeating-linear-gradient(90deg,var(--re-header-color),var(--re-header-color) 2px,var(--re-header-color-two) 0,var(--re-header-color-two) 4px);
}
.re_logo {
  font-family: "impact", "Arial Black";
  font-weight: normal;
  letter-spacing: 0.5px;
  text-shadow: rgb(0 0 0 / 95%) 0px 0px 4px;
}
.re_yellow {
  color: #e0ce00;
}
.re_title .re_logo {
  font-size: 15px;
}
.re_head {
    background-image: var(--re-header-background);
    height: 25px;
    box-sizing: border-box;
    border-bottom: none;
    border-radius: 5px 5px 5px 5px;
    padding: 4px 10px;
    background-size: 4px;
    cursor: pointer;
    display: flex;
    margin-bottom: 15px;
}
.re_title {
  text-shadow: rgba(0, 0, 0, 0.65) 1px 1px 2px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 16px;
  color: white;
}


/* CSS for ReTorn Example Title Header */ 


/* Default Stuff */
  body {
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }

  a {
    text-decoration: none;
  }
  html.dark a {
    color: #4974a5;
  }
  html.dark a:hover {
    color: #62b4fd;
  }
  html.light a {
    color: #62b4fd;
  }
  html.light a:hover {
    color: #4974a5;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  input[data-jscolor] {
    cursor: pointer;
  }
/* Default Stuff */

/* optional classes */
.capitalize {
  text-transform: capitalize;
}
.capitalize * {
  text-transform: none;
}
.float-topright {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 10px;
}
.float-right {
  float: right;
}
.text-normal {
  font-weight: 100;
}
.mb20 {
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}
.m10 {
  margin: 10px;
}
/* optional classes */

/* main container */
.main_container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

button.mobile {
  float: left;
  width: 50px;
  min-width: unset;
  background-color: #00000000;
  border: none;
  color: white;
  font-size: 32px;
  padding-right: 20px;
  cursor: pointer;
}

/* main container */

/* Options Page = Menu Sidebar */
  .title {
    font-size: 28px;
    font-family: "impact";
    letter-spacing: 0.5px;
    font-weight: normal;
    color: #fff;
    border-bottom: 1px solid white;
  }

  ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }

  html.light .sidenav {
    color: #aaa;
    background-color: #303030;
  }
  html.dark .sidenav {
    color: #666;
    background-color: #181818;
  }

  .sidenav {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 1em;
  }

  .sidenav ul.tabs {
    width: 150px;
  }

  .sidenav ul.tabs > li {
    white-space: nowrap;
  }

  .sidenav li {
    text-decoration: none;
    font-size: 18px;
    color: inherit;
    padding: 3px;
    padding-left: 5px;
    border: 1px solid transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 4px;
    }

  ul.tabs li {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .sidenav li.active {
    color: #f4f4f4;
    font-weight: 400;
    border-left-color: #f4f4f4;
    border-left-width: 3px;
  }
  .sidenav li:hover {
    color: #fff;
    border-color: #fff;
  }
  .sidenav li:active {
    border-color: #e0ce00;
  }
  li.disabled,li:disabled,li:hover.disabled,li:hover:disabled {
    color: #eee;
    border-color: transparent;
    cursor: not-allowed;
  }
/* Options Page = Menu Sidebar */

/* Options Page = Main View */
  html.light .mainview {
    background-color: #fafafa;
    color: #121212;
  }
  html.dark .mainview {
    background-color: #121212;
    color: #f4f4f4;
  }
  .mainview {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    margin-left: 1em;
    margin-right: 1em;
  }
/* Options Page = Main View */


/* Tab Groups */

.tab_container {
  display: none;
  padding-top: 1em;
  max-width: 800px;
}
.show {
  display: block !important;
}

.menu_title {
  margin-bottom: 1em;
}

.category {
  margin-bottom: 1.5em;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.block {
  margin-left: 1em;
  padding: 2px;
}

.category h4 {
  width: 100%;
  margin: -5px 5px 5px -5px;
  border-radius: 5px 5px 0px 0px;
  background: rgba(205,205,205,0.2);
  padding: 5px 5px 5px 5px;
}

/* Tab Groups */


/* Switches https://codepen.io/mburnette/pen/LxNxNg */
.switch-holder {
  display: flex;
  width: 340px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}

.switch-holder input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label.switch-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 34px;
	height: 16px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
  margin-right: 5px;
}

label.switch-label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	width: 14px;
	height: 14px;
	background: #fff;
	border-radius: 100px;
	transition: 0.3s;
}

.switch-holder input[type=checkbox]:checked + label.switch-label {
	background: #00b33c;
}

.switch-holder input[type=checkbox]:checked + label.switch-label:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
}

label.switch-label:active:after {
	width: 18px;
}

.switch-holder input[type=checkbox]+label+span+input[type=text] {
  margin-left: auto;
  width: 120px;
}
/* Switches */


/* Color code buttons for ReTorn header */
.colorcodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.color_code {
  font-weight: bold;
  width: 96px;
  margin: 2px;
  border-radius: 5px;
  text-align: center;
}
.color_code:hover {
  cursor: pointer;
}
html.light .color_code {
  border: 1px solid #111;
  background-color: #fafafa;
}
html.dark .color_code {
  border: 1px solid #333;
  background-color: #0c0c0c;
}
/* Color code buttons for ReTorn header */

/* Quick Links */
#quicklinks .switch_wrap input[type=text][name=name] {
  width: 20%;
  max-width: 100px;
}
#quicklinks .switch_wrap input[type=text][name=url] {
  width: 30%;
  max-width: 150px;
}
ul#quicklinks {
  list-style: none;
  padding: 0;
  position: relative;
}
ul#quicklinks li {
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
}
ul#quicklinks li .fa-li:hover {
  cursor: row-resize;
}
ul#quicklinks li:last-child .fa-li {
  display: none;
}

#quicklinks input+input {
  margin-left: 4px;
}

/* Quick Links */

/* chat highlights */
.switch_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3px;
}
.switch_wrap > * {
  margin-right: 4px;
}
#chat_highlights input[name=text] {
  width: 180px;
}

#chat_highlights input[name=color] {
  width: 120px;
  margin-left: 4px;
}
/* chat highlights */


/* credits */
ul.credits {
  list-style-type: "\2764";
  padding-left: 10px;
  padding-right: 10px;
}
.credits > li {
  margin-top: 5px;
  margin-left: 5px;
}
.credits > li span {
  position: relative;
  left: 8px;
}

.beyond {
  position: absolute;
  bottom: 0;
  right: 5px;
}
.beyond a {
  color: #4974a50a !important;
}
.beyond a:hover {
  color: #4974a51a !important;
}
/* credits */





/* LOG TABLE https://codepen.io/AllThingsSmitty/pen/MyqmdM */
table {
  border: 1px solid;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  font-size: 14px;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  word-break: break-all;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
  border-bottom: 1px solid;
}

@media screen and (max-width: 615px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}



html.light table, html.light th, html.light th:not(:last-child), html.light td:not(:last-child) {
  border-color: #111;
}
html.dark table, html.dark th, html.dark th:not(:last-child), html.dark td:not(:last-child) {
  border-color: #fbfbfb;
}
table th {

}
table.log-list th:not(:last-child), table.log-list td:not(:last-child) {
  border-right: 1px solid;
}
/* LOG TABLE */





@media screen and (max-width: 360px) {
  .tab_groups {
    margin-left: 3px
  }
  .card {
    margin-left: 0px;
  }
  .card-content {
    padding-left: 2px;
  }
}


@media screen and (max-width: 615px) {
  .mainview {
    margin-left: 0;
    margin-right: 0;
  }
  .main_container {
    flex-direction: column;
  }
  /*sidebar*/
  .sidenav > ul.tabs {
    display: none;
  }

  /* cards in mainview */
  .card {
    display: flex;
    justify-content: center;
  }
  /* tab groups for main view */
  .tab_groups {
    margin-left: 0px;
  }
  /*tab container menu title*/
  .menu_title {
    margin-left: 1em;
  }

  .tab_container {
    margin-bottom: 30em;
  }

  /*log stuff*/
  .nav-link {
    padding: .5rem 1rem;
  }

  .num {
    display: none;
  }



}



@media screen and (max-width: 750px) {
  .navbar ul.nav li.nav-item {
    width: auto;
    min-width: 85px;
  }

  .dropdown-menu {
    width: auto;
    min-width: 85px;
  }

  .nav-link {
    padding: .5rem 1rem;
  }
}

/* large screen */
@media screen and (min-width: 616px) {
  button.mobile {
    display: none;
  }
  .category.category-fluid {
    width: auto;
  }


  th[data-label="Time"], td[data-label="Time"] {
    width:135px;
  }
  th[data-label="Code"], td[data-label="Code"] {
    width:40px;
  }
}
/* large screen */

/* large screen */
@media screen and (min-width: 1000px) {
  .card:only-child {
    max-width: 824px;
  }
}
/* large screen */