body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

.menu_title,.submenu {
  letter-spacing: 0.4px;
}

.submenu {
  text-decoration: underline;
}

html.light .sidenav {
  color: #aaa;
  background-color: #303030;
}
html.dark .sidenav {
  color: #666;
  background-color: #181818;
}

html.light .mainview {
  background-color: #eaeaea;
  color: #121212;
}
html.dark .mainview {
  background-color: #121212;
  color: #f4f4f4;
}

html.dark a {
  color: #4974a5;
}
html.dark a:hover {
  color: #62b4fd;
}

html.light a {
  color: #62b4fd;
}
html.light a:hover {
  color: #4974a5;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.sidenav {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: 15%;
  padding: 1em;
}

.title {
  font-size: 28px;
  font-family: "impact";
  letter-spacing: 0.5px;
  font-weight: normal;
  color: #fff;
}

.yellow {
  color: #cab900;
}

.sidenav ul {
  border-top: 1px solid white;
}

ul.credits {
  list-style-type: "\2764";
}
.credits > li {
  margin-top: 5px;
  margin-left: 5px;
}

.credits > li span {
  position: relative;
  left: 8px;
}

.sidenav li {
  text-decoration: none;
  font-size: 1.5em;
  color: inherit;
  padding: 3px;
  padding-left: 5px;
  border: 1px solid transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 4px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.sidenav li.active {
  color: #f4f4f4;
  font-weight: 400;
  border-left-color: #f4f4f4;
  border-left-width: 3px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.sidenav li:hover {
  color: #fff;
  border-color: #fff;
}

.sidenav li:active {
  border-color: #cab900;
}


li.disabled,li:disabled,li:hover.disabled,li:hover:disabled {
  color: #eee;
  border-color: transparent;
  cursor: not-allowed;
}

.mainview {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  will-change: transform;
  flex-grow: 1;
  padding-left: 20px;
}

.tab_groups {
  margin-left: 10px;
}

.tab_container {
  display: none;
}

.tab_container.show {
  display: block;
}

.switch_wrap {
  display: flex;
  flex-direction: row;
}

.switch_wrap label {
  margin-right: 8px;
}

.re_message {
  margin-left: 10px;
}

.re_message.success {
  color: #6cad2b;
}

.re_message.error {
  color: #d55640;
}

div.input_wrap {
  display: flex;
  align-items: center;
}

div.input_wrap input[type=text] {
  width: 5em;
  margin-right: 10px;
  text-align: right;
  display:inline-block;
  vertical-align:middle;
}

div.input_wrap input[type=checkbox] {
  margin-right: 8px;
}

div#general_notifications div {
  margin-bottom: 10px;
}
