body {
  height: auto;
}

a.to_torn {
  text-decoration: none;
}

div.progress_bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

div.re_messages {
  margin-bottom: 10px;
}

.progressbar {
  height: 1em;
  width: 100%;
  position: relative;
  background: #ddd;
  box-shadow: inset 0 2px 5px rgb(0 0 0 / 25%);
  margin-bottom: 5px;
.progress_bars > a, .cooldowns > a {
    padding: 4px;
}
html.light .progress_bars > a:hover, html.light .wealth div:hover, html.light .cooldowns a:hover {
    box-shadow: 0 0px 4px #000000ee, inset 0 0px 1px #000000bb;
}
html.dark .progress_bars > a:hover, html.dark .wealth div:hover, html.dark .cooldowns a:hover {
    box-shadow: 0 0px 2px #ffffffee, inset 0 0px 1px #ffffffbb;
}

.progressbar > span {
  display: block;
  height: 100%;
  background-color: black;
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

html.light div.progressbar > span#energy {
  background-color: #6cad2b !important;
}
html.dark div.progressbar > span#energy {
  background-color: #4d7c1e !important;
}

html.light div.progressbar > span#nerve {
  background-color: #cc7032 !important;
}
html.dark div.progressbar > span#nerve {
  background-color: #b3382c !important;
}

html.light div.progressbar > span#happy {
  background-color: #cccc32 !important;
}
html.dark div.progressbar > span#happy {
  background-color: #b3992c !important;
}

html.light div.progressbar > span#life {
  background-color: #708bdb !important;
}
html.dark div.progressbar > span#life {
  background-color: #3f43cf !important;
}

button#re_logout {
  margin-left: auto;
  margin-right: 0;
}

.countdown {
  float: right;
}

.last_update {
  float: right;
}

.cooldowns {
  line-height: 2em;
}

ul.torn_icons {
    list-style: none;
    display: inline;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

ul.torn_icons li {
  background-image: url('/images/user_status_icons_sprite.svg');
  width: 16px;
  height: 16px;
  margin: 3px 5px 0px 0px;
  display: inline;
  list-style-type: none;
  float: left;
}

.booster_icon {
  background-position: -684px 0;
}

.medical_icon {
  background-position: -774px 0;
}

.drug_icon {
  background-position: -936px 0;
}
