html {
    width: 288px;
    background-color: var(--re-background);
}

body {
    text-align: center;
    margin: 10px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}