html {
    width: 288px;
    background-color: var(--re-background);
}

#re_message {
    color: var(--re-error);
}

body {
    text-align: center;
    margin: 10px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.logo {
    font-family: "impact";
    letter-spacing: 0.5px;
    font-weight: normal;
}

.yellow {
    color: var(--retorn-yellow);
}

div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}