:root {
  --re-header-color: #e0ce00;
  --re-title-color: #FFF;
  --re-dm-title-color: #DDD;
  --re-leftalign: auto;
  --re-header-background: repeating-linear-gradient(90deg,var(--re-header-color),var(--re-header-color) 2px,var(--re-header-color-two) 0,var(--re-header-color-two) 4px);
}

.mb1 {
  margin-bottom: 5px !important;
}
.mb2 {
  margin-bottom: 10px !important;
}
.mb3 {
  margin-bottom: 15px !important;
}
.mb4 {
  margin-bottom: 20px !important;
}

.mt1 {
  margin-top: 5px !important;
}
.mt2 {
  margin-top: 10px !important;
}
.mt3 {
  margin-top: 15px !important;
}
.mt4 {
  margin-top: 20px !important;
}

.ml1 {
  margin-left: 5px !important;
}
.ml2 {
  margin-left: 10px !important;
}
.ml3 {
  margin-left: 15px !important;
}
.ml4 {
  margin-left: 20px !important;
}

.mr1 {
  margin-right: 5px !important;
}
.mr2 {
  margin-right: 10px !important;
}
.mr3 {
  margin-right: 15px !important;
}
.mr4 {
  margin-right: 20px !important;
}

.re_logo {
  font-family: "impact", "Arial Black";
  font-weight: normal;
  letter-spacing: 0.5px;
  text-shadow: rgb(0 0 0 / 95%) 0px 0px 4px;
}
.re_yellow {
  color: #e0ce00;
}
.re_title .re_logo {
  font-size: 15px;
}

.re_content .re_error {
  color: #d83500;
}

.re_title .fas {
  color: var(--re-dm-title-color);
}

/* Torn Left Align only on large screen (not mobile view)*/
@media screen and (min-width: 601px) {
  .d .container {
    margin-left: var(--re-leftalign) !important;
  }
}


div.re_checkbox {
  float: right;
}

div.re_checkbox > label {
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    margin-left: 2px;
    margin-right: 15px;
}

.re_checkbox > label, .re_checkbox > input[type="checkbox"], .re_content select {
  cursor: pointer;
}

div.re_container {
margin-top: 10px;
display: flex;
flex-direction: column;
box-sizing: border-box;
}

div.re_head {
  border-bottom: none;
  border-radius: 5px 5px 5px 5px;
  padding: 6px 10px;
  background-size: 4px;
  cursor: pointer;
}

div.re_head.expanded {
border-bottom: none;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}

div.re_head.flat-top {
border-top: none;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}

span.re_title {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 16px;
}

.re_content {
  border-radius: 0px 0px 5px 5px;
}

.re_content > p {
  text-align: center;
  margin: 10px;
  margin-bottom: 5px;
}

.re_content input[type="text"], .re_content input[type="number"], .re_content select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
  color: var(--input-color);
  line-height: 14px;
  height: 26px;
  text-align: left;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  width: 178px;
  border-color: var(--input-border-color);
  background: var(--input-background-color);
}

.re_row {
  display: flex;
  margin: 0.75em;
  justify-content: space-between;
  flex-wrap: wrap;
}

.re_row[hidden] {
  margin: 0px !important;
}

div > p.re_ptitle {
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid;
  margin-bottom: 3px;
  padding-bottom: 2px;
  cursor: default;
}

.re_col {
flex-direction: column;
}

div.re_input_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

div.re_input_wrap input[type='number'] {
  margin: 2px 0px;
  display: inline-block;
}

.re_grid_wrap {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.switch_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}
.switch_wrap.switch_row {
  flex-direction: row;
}

.switch_wrap.switch_row input, .switch_wrap.switch_row select {
  margin-right: 2px;
}

.switch_wrap div {
  display: flex;
  align-items: flex-end;
}


div.re_icon_wrap {
align-items: center;
justify-content: center;
width: 16px;
float: right;
}

span.re_icon svg {
display: block;
height: 16px;
cursor: pointer;
margin-left: auto;
margin-right: auto;
}

span.re_icon.arrow_right svg path {
  d: path('M4 6l-4 4 6 6-6 6 4 4 10-10L4 6z');
}

span.re_icon.arrow_down svg path {
  d: path('M16 10l-6 6-6-6-4 4 10 10 10-10-4-4z');
}

div.re_button_wrap {
  display: flex;
  flex-wrap: wrap;
}

div.re_button_wrap > button {
  margin-bottom: 5px;
  margin-right: 5px;
}

.re_button_wrap input[type="text"] {
  margin-right: 8px;
}

.re_container.after::after {
    display: block;
    content: "";
    border-right-width: initial;
    border-left-width: initial;
    border-right-color: initial;
    border-left-color: initial;
    margin: 10px 0px;
    border-style: solid none;
    border-image: initial;
    border-top: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(235, 235, 235);
}

.re_row .re_button {
  border-radius: 5px;
  margin: 5px;
}

.re_row .re_button:active {
  position:relative;
	top:1px;
}

.re_row .re_button:hover, .re_button > button:hover {
  cursor: pointer;
}

/* chat css */
input.re_chat_search {
  margin-left: 5px;
  padding-left: 3px;
  border-radius: 3px;
  height: 18px;
  width: 40%;
  display: none;
}

div[class*="chat-active"] > div > div > input.re_chat_search {
  display: inline;
}




.re_list {
  height: 100%;
  list-style: none;
  border-radius: 5px;
}
.re_list.small {
  font-size: 11px;
}

.re_list > li {
  display: flex;
  height: 40px;
}

.re_list > li:hover {
  background: #fff;
}
body.dark-mode .re_list > li:hover {
  background: #444;
}

.re_list.small > li {
  height: 20px;
}

.re_list > li:not(:last-child) .re_list_item {
  border-bottom: 1px solid #ccc;
}

.re_list > li:first-child {
  border-top-left-radius: 5px;
}
.re_list > li:last-child {
  border-bottom-left-radius: 5px;
}

body.dark-mode .re_list > li {
  border-color: #222;
}

.re_list input[type="color"] {
  width: 50px;
  height: 30px;
  cursor: pointer;
}

body.dark-mode input[type="color"] {
  background-color: #333;
}

.re_list .re_list_item.x {
  padding-left: 10px;
  width: 20px;
  min-width: 20px;
  line-height: 40px;
  border-right: 1px solid #ccc;
}

.re_list .re_list_x .delete-subscribed-icon {
  cursor: pointer;
}

.re_list .re_list_item {
  display: flex;
  align-items: center;
  line-height: 24px;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  padding-left: 5px;
}

body.dark-mode .re_list .re_list_item, body.dark-mode .re_list .re_list_x {
  border-right-color: #222;
  border-left-color: #444;
}

.delete-subscribed-icon {
  cursor: pointer;
}

.re_head .fas {
  font-size: 14px;
  color: var(--re-title-color);
}

.re_list_item.name {
  width: 62px;
}
.re_list_item.color {
  width: 44px;
}
.re_list_item.item {
  width: 145px;
  white-space: nowrap;
}


.re_list_item.color > * {
  margin-right: 5px;
}

body.dark-mode .re_scrollbox {
  background-color: #333333;
  border-color: #222;
}


@media screen and (max-width: 600px) {
  .re_list.small {
    font-size: 10px;
  }

  .re_list_item.name {
    width: 51px;
  }
  .re_list_item.color {
    width: 38px;
  }
  .re_list_item.item {
    width: 127px;
  }
}


.re_scrollbox {
  margin-top: 5px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #F2F2F2;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}



.re_scrollbox::-webkit-scrollbar {
  width: 10px;
}

.re_scrollbox::-webkit-scrollbar-track {
  background: #DDD;
  border-radius: 0px 5px 5px 0px;
}
body.dark-mode .re_scrollbox::-webkit-scrollbar-track {
  background: #444;
}

.re_scrollbox::-webkit-scrollbar-thumb {
    background-color: #f2f2f2;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: #DDD;
}
body.dark-mode .re_scrollbox::-webkit-scrollbar-thumb {
    background-color: #888;
    border-color: #444;
}




/* Bootstrap styled popup for TornStats events */
.alert_popup {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  z-index: 99999;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.alert_popup.green {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert_popup.red {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert_popup .datetime {
  font-size: 10px;
}

.alert_popup a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.alert_popup a:hover {
  color: #000;
  opacity: .5;
}

.alert_popup button.close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-transform: none;
    overflow: visible;
    margin: 0;
    border-radius: 0;
    top: -10%;
}

.alert_popup button.close:hover {
  color: #000;
  text-decoration: none;
  opacity: .75;
}


/* Torn Styled Button */
.re_torn_button {
    background: transparent linear-gradient(180deg ,#CCCCCC 0%,#999999 60%,#666666 100%) 0 0 no-repeat;
    border-radius: 5px;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    color: #333;
    text-shadow: 0 1px 0 #ffffff66;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    border: none;
    outline: none;
    overflow: visible;
    box-sizing: border-box;
    line-height: 16px;
    padding: 4px 8px;
    height: auto;
    white-space: nowrap;
    cursor: pointer;
}

.re_torn_button:hover, .re_torn_button:focus {
    background: transparent linear-gradient(180deg,#E5E5E5 0%,#BBBBBB 60%,#999999 100%) 0 0 no-repeat;
    color: #333
}

.re_torn_button.disabled,.re_torn_button:disabled,.re_torn_button:hover.disabled,.re_torn_button:hover:disabled {
    color: #777;
    color: var(--btn-disabled-color);
    box-shadow: 0 1px 0 #ffffffa6;
    box-shadow: var(--btn-disabled-box-shadow);
    text-shadow: 0 -1px 0 #ffffff66;
    text-shadow: var(--btn-disabled-text-shadow);
    background: transparent linear-gradient(180deg,#999999 0%,#CCCCCC 100%) 0 0 no-repeat;
    background: var(--btn-disabled-background);
    cursor: default
}



/* No Select */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}




/* Color Related CSS */
div.re_head {
/*
  background-color: var(--re-header-color);
  background-image: linear-gradient(90deg, transparent 50%, rgba(0, 0, 0, 0.07) 0px);
*/
  background: var(--re-header-background);
}
body.dark-mode div.re_head {
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 25%);
}

span.re_icon svg {
  fill: #FFF;
}
body.dark-mode span.re_icon svg {
  fill: #CCC;
}

span.re_title {
  color: var(--re-title-color);
  text-shadow: rgba(0, 0, 0, 0.65) 1px 1px 2px;
}

body.dark-mode span.re_title {
  color: var(--re-dm-title-color);
  text-shadow: rgba(0, 0, 0, 0.65) 1px 1px 2px;
}

.re_content {
  background-color: #F2F2F2;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: none;
}

body.dark-mode .re_content {
  background-color: #333333;
  border: 1px solid #3B3B3B;
  border-top: none;
}

.re_content * {
  color: #333;
}
body.dark-mode .re_content *:not(button.re_torn_button):not(a) {
  color: #DDD;
}

body.dark-mode .re_container.after::after {
  border-color: #333333 !important;
}

.re_container a, .re_container a:visited {
  color: #069;
}
.re_container a:hover {
  color: #62b4fd;
}
.re_container a:active {
  color: #a71d2a;
}

body.dark-mode .re_container a, body.dark-mode .re_container a:visited {
  color: #62b4fd;
}
body.dark-mode .re_container a:hover {
  color: #74c0fc;
}
body.dark-mode .re_container a:active {
  color: #a71d2a;
}

input[type="number"], input[type="text"], .re_content select {
  color: #000;
  border: 1px solid #ccc;
}

body.dark-mode input[type="number"], body.dark-mode input[type="text"], body.dark-mode .re_content select {
  border: 1px solid #222;
  background-color: #333;
  color: #ccc;
}

input[type="number"]:focus, input[type="text"]:focus, .re_content select:focus {
  border-color: #1864ab80;
  box-shadow: rgba(28, 126, 214, 0.65) 0px 0px 2px 0px
}

div > p.re_ptitle {
  border-color: #363636;
}

body.dark-mode div > p.re_ptitle {
  border-color: #ddd;
}


.re_row .re_button {
  border: 1px #999 solid;
}
body.dark-mode .re_row .re_button {
  border: 1px #222 solid;
}

.re_row .re_button:hover {
  background-color: #fff;
}
body.dark-mode .re_row .re_button:hover {
  background-color: #444;
}

.re_button button .close {
  color: #000;
}
.re_button button .close:hover {
  color: #999;
}

body.dark-mode .re_button button .close {
  color: #111;
}
body.dark-mode .re_button button .close:hover {
  color: #999;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
