.re_row th, .re_row td {
  padding: 5px !important;
}

.re_row > div {
  width: calc(50% - 6px);
}

.re_row > div:first-child {
  margin-right: 12px;
}

.re_row table {
  width: 100%;
}

.re_row {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.re_row th {
  font-weight: bolder !important;
  font-size: 13px;
}

#re_spy_attack > div:nth-child(2) {
  margin-top: 24px;
}


.re_infotable {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.re_infotable li {
  display: flex;
  border-bottom: 1px solid;
  border-color: var(--panel-divider-outer-side-color);
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.re_infotable li > div:first-child {
  flex-basis: 0;
}
.re_infotable li > div {
  flex-grow: 1;
  flex-basis: calc(100% / 2);
}

.re_infotable li:first-child {
  border-top: 1px solid var(--panel-divider-outer-side-color);
}

.re_infotable li .re_table-label {
  margin: 0;
  flex-grow: 1;
  background: 0 0;
  padding: 5px;
  height: 14px;
  line-height: 14px;
}

#re_compare .re_infotable li .re_table-label {
  min-width: 130px;
  max-width: 130px;
  width: 130px;
}

#re_spy .re_infotable li .re_table-label {
  min-width: 65px;
  max-width: 65px;
  width: 65px;
}

.re_infotable li .re_table-value {
  margin: 0;
  padding: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.re_infotable li div {
  border-right: 1px solid;
  border-color: var(--panel-divider-outer-side-color);
}



@media screen and (min-width: 785px) {  
  .re_row > div:only-child .re_infotable li div:first-child {
    border-left: 1px solid;
    border-color: var(--panel-divider-outer-side-color);
  }
  
  .re_row > div:only-child .re_infotable li div:last-child {
    border-right: 1px solid;
    border-color: var(--panel-divider-outer-side-color);
  }
  
  .re_row > div:nth-child(2) .re_infotable li div:first-child {
    border-left: 1px solid;
    border-color: var(--panel-divider-outer-side-color);
  }
  .re_row > div:nth-child(2) .re_infotable li div:last-child {
    border-right: 0;
  }
  
  .re_row > div:only-child {
    border-radius: 0;
  }
  
  .re_row > div .re_infotable li:last-child {
    border-radius: 0px 0px 0px 5px;
  }
  .re_row > div:nth-child(2) .re_infotable li:last-child {
    border-radius: 0;
  }
  .re_row > div:only-child .re_infotable li:last-child {
    border-radius: 0;
  }
}

/* small screen */
@media screen and (max-width: 784px) {
  .re_row > div {
    width: 100%;
  }

  .re_row > div:first-child {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .re_row > div:only-child {
    margin-bottom: 0;
  }

  .re_row > div .re_infotable li > div:first-child {
    border-left: 0;
  }
  .re_row > div .re_infotable li > div:last-child {
    border-right: 0;
  }

  .re_row > div .re_infotable li:last-child {
    border-radius: 0;
  }
  .re_row > div:last-child .re_infotable li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}







/* Color CSS */
.re_row th, .re_row td {
  border: 1px solid #dcdcdc !important;
}
body.dark-mode .re_row th, body.dark-mode .re_row td {
  border: 1px solid #222222 !important;
  color: #DDD;
}

.re_row table {
  border: 2px solid #CBCBCB;
  background-color: #FFFFFF;
}
body.dark-mode .re_row table {
  border: 2px solid #191919;
  background-color: #333;
}

.red {
  color: #d83500 !important;
}
.green {
  color: #678c00 !important;
}
body.dark-mode .red {
  color: #b96a6a !important;
}
body.dark-mode .green {
  color: #4ea87b !important;
}
