.re_row th, .re_row td {
  padding: 5px !important;
}

.re_row > div {
  flex: 1;
  margin: 5px;
}

.re_row table {
  width: 100%;
}

.re_row {
  flex-wrap: wrap;
  justify-content: center;
}

.re_row th {
  font-weight: bolder !important;
  font-size: 13px;
}

#re_compare {
  max-width: 500px;
}

#re_spy {
  margin-bottom: 10px;
}

#re_attacks td, td[colspan] {
  text-align: center;
}


/* Color CSS */
.re_row th, .re_row td {
  border: 1px solid #dcdcdc !important;
}
body.dark-mode .re_row th, body.dark-mode .re_row td {
  border: 1px solid #222222 !important;
  color: #DDD;
}

.re_row table {
  border: 2px solid #CBCBCB;
  background-color: #FFFFFF;
}
body.dark-mode .re_row table {
  border: 2px solid #191919;
  background-color: #333;
}

td.red {
  font-weight: bold !important;
  color: #d83500;
}
td.green {
  font-weight: bold !important;
  color: #678c00;
}
body.dark-mode td.red {
  font-weight: bold !important;
  color: #b96a6a;
}
body.dark-mode td.green {
  font-weight: bold !important;
  color: #4ea87b;
}
