.re_hide_level_up #sidebar a[href*="level2.php"] {
    display:none;
}

#sidebar [class*="status-icons_"][class*="big_"].re_hide_icons li, #sidebar [class*="status-icons_"][class*="mobile_"][class*="big_"].re_hide_icons li.re_hide_icons_six {
    margin-right: 10px;
}

#sidebar [class*="status-icons_"][class*="big_"].re_hide_icons li.re_hide_icons_six {
    margin-right: 0;
}

/*
#sidebar [class*="status-icons_"][class*="big_"] li:nth-of-type(6n) {
    margin-right: 0;
}
*/

.re_color_hide, .re_bonus_hide, .re_name_hide, .re_damage_hide, .re_accuracy_hide, .re_defence_hide, .re_bonus_perc_hide, .re_category_hide, .re_weapons_type_hide, .re_seller_name_hide {
    display: none;
}

.re_filter {
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.re_filter > * {
    margin-left: 2.5px;
    margin-right: 2.5px;
}


.re_filter input.re_stats {
    text-align: center;
    width: 40px;
}

.re_filter select.re_color, .re_filter input.re_name, .re_filter select.re_bonus, .re_filter select.re_category, .re_filter input.re_seller_name {
    width: 130px;
}


.re_filter ::-webkit-scrollbar {
    width: 12px;
}

.re_filter ::-webkit-scrollbar-track {
    background-color: var(--default-panel-divider-outer-side-color);
}

.re_filter ::-webkit-scrollbar-thumb {
    background-color: var(--default-bg-panel-active-color);
    border-radius: 20px;
    border: 2px solid var(--default-panel-divider-outer-side-color);
}

select:invalid,
select option[value=""] {
  color: #757575 !important;
}

/*Added for browser compatibility*/
[hidden] {
  display: none;
}