body.hospital .list_parent {
  margin: 0px;
}
.list_parent {
  margin-top: 2px;
  overflow: hidden;
}
/* npc list above messages/events/awards */
[class*="user-information"] + .list_parent {
  margin-top: 0px;
  margin-bottom: 2px;
}

.list_parent:last-child {
  margin-bottom: 2px;
}

.list_header {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    vertical-align: top;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.list_header > a {
    overflow: hidden;
    text-decoration: none;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

@media screen and (max-width: 1000px) {
  html:not(.html-manual-desktop) .list_header > a span.svg {
    height: 34px !important;
  }
}

.list_header > a span.svg {
  width: 34px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 0;
}

.list_header > a span.link_title {
  margin-left: 2px;
}

.list_header > a span {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.list_header div.button {
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 0;
  padding: 0 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
}

.list_header div.button span.amount {
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;

  vertical-align: middle;
  font-size: .8rem;
  line-height: .8rem;
  margin-right: 4px;
}

.list_header div.button span.arrow {
  line-height: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin: 0 4px;

  display: inline-block;
  top: 50%;

  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  position: relative;
}

div.list_header.noshow div.button span.arrow {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



.list_parent .npc_area {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 1px;
  overflow: hidden;
  position: relative;
}

.npc_area > .npc_content {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  touch-action: none;
}

ul.npc_list {
  padding: 5px 0;
  list-style: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

ul.npc_list li {
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 3px;
  line-height: 10px;
  width: auto;
  display: block;
  height: 18px;
  border-radius: 3px;
}

ul.npc_list a {
  display: inline-block;
  line-height: 18px;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;
  max-width: 101px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

ul.npc_list span.attack_time {
  color: #999;
  float: right;
  line-height: 18px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
}


@media screen and (max-width: 654px) and (min-width: 602px) {
  li#nav-npcs+li.find-wrapper .input-wrapper.search, li#nav-npcs+li.find-wrapper #search-type-wrapper,li#nav-npcs+li.find-wrapper #search-type-wrapper div, li#nav-npcs+li.find-wrapper #search-type-wrapper button {
    width: 25vw;
    max-width: 170px;
  }
}

@media screen and (max-width: 985px) and (min-width: 951px) {
  li#nav-npcs+li.find-wrapper form#searchForm div {
    width: 150px;
  }
}

#nav-npcs.active .re-npclist-tooltip {
  visibility: visible;
}

#nav-npcs.active > button:before {
  content: '';
    width: 46px;
    height: 34px;
    top: 7px;
    left: -6px;
    display: block;
    position: absolute;
    background: url(/images/v2/svg_icons/top_header/dropdown_slices/regular/dropdown_centre.svg) 0 0 no-repeat;
    background-size: 100% 100%;
}

#nav-npcs .re-npclist-tooltip {
  visibility: hidden;
  top: 35px;
  position: absolute;
  width: 190px;
  text-align: center;
  line-height: 20px;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #444;
  background: #333;
  left: -89px;
  z-index: -1;
  box-shadow: 0 1px 2px rgb(0 0 0 / 45%);
}

#nav-npcs .re-npclist-tooltip ul.npc_list li {
  float: none;
}

#nav-npcs .re-npclist-tooltip ul.npc_list a {
  color: #74c0fc;
  float: left;
}
#nav-npcs .re-npclist-tooltip ul.npc_list a:hover {
  color: #d0ebff;
}

div.header-navigation.right > div.header-buttons-wrapper > ul.toolbar #nav-npcs ul.npc_list li.highlight {
  background-color: #4b5738;
}

div.header-navigation.right > div.header-buttons-wrapper > ul.toolbar #nav-npcs:not(.active).highlight svg {
  filter: drop-shadow(0px 0px 1.3px #000);
  fill: #94A857;
}





/* Color CSS */
.list_header {
    background-color: #f2f2f2;
}
body.dark-mode .list_header {
    background-color: #333;
}

.list_header:hover {
  background-color: #fff;
}
body.dark-mode .list_header:hover {
  background-color: #444;
}

.list_header > a {
  color: #333;
}
body.dark-mode .list_header > a {
  color: #DDD;
}

.list_header div.button span.arrow {
  border-left: 5px solid #333;
}
body.dark-mode .list_header div.button span.arrow {
  border-left: 5px solid #DDD;
}

.list_header > a span.svg svg {
  filter: drop-shadow(0px 0.7px 0.1px #fff);
  fill: url(#sidebar_svg_gradient_regular_desktop);
}
body.dark-mode .list_header > a span.svg svg {
  filter: drop-shadow(0px 0px 1.3px #000);
  fill: #777;
}

body.dark-mode.hospital .list_header > a span.svg svg {
  fill: url("#sidebar_svg_gradient_hospital_mobile");
}
body.dark-mode.jail .list_header > a span.svg svg {
  fill: url("#sidebar_svg_gradient_jail_mobile");
}

.list_parent .npc_area {
  background-color: #e4e4e4;
}
body.dark-mode .list_parent .npc_area {
  background-color: #2d2d2d
}

ul.npc_list li a, ul.npc_list li a:visited {
  color: #069;
}
ul.npc_list li a:hover {
  color: #999;
}

ul.npc_list span.attack_time:hover {
  color: #b6b6b6;
}

body.dark-mode ul.npc_list li a, body.dark-mode ul.npc_list li a:visited {
  color: #74c0fc;
}
body.dark-mode ul.npc_list li a:hover {
  color: #a5d8ff;
}

ul.npc_list li.highlight {
  background-color: #CADFAF;
}
body.dark-mode ul.npc_list li.highlight {
  background-color: #4b5738;
}

#nav-npcs.highlight div.list_header.noshow {
  background-color: #d7e2cc;
}
body.dark-mode #nav-npcs.highlight div.list_header.noshow {
  background-color: #4b5738;
}

#nav-npcs.highlight div.list_header.noshow:hover {
  background-color: #ccdeba;
}
body.dark-mode #nav-npcs.highlight div.list_header.noshow:hover {
  background-color: #57693a;
}

#nav-npcs.highlight .list_header.noshow > a span.svg svg {
  filter: drop-shadow(0px 0.7px 0.1px #fff);
  fill: #8EAB38;
}
body.dark-mode #nav-npcs.highlight .list_header.noshow > a span.svg svg {
  filter: drop-shadow(0px 0px 1.3px #000);
  fill: #94A857;
}