/* Chrome, Safari, Edge, Opera */
.re_input_wrap input::-webkit-outer-spin-button,
.re_input_wrap input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.re_input_wrap input[type=number] {
  -moz-appearance: textfield;
}

.re_content.re_jail input[type='number'] {
  width: 90px;
  padding: 0 0 0 3px;
  border-radius: 3px;
  height: 25px;
  margin-top: -2px;
}

.re_row {
  justify-content: center;
}


.re_jail .grid_wrap {
  display: grid;
  width: 100%;
  grid-gap: 10px;
  justify-items: flex-start;
}



/* forced desktop */
html.html-manual-desktop .re_jail .grid_wrap {
  grid-template-columns: repeat(3, auto) 200px repeat(2, 90px);
}

/* desktop view */
@media screen and (min-width: 1001px) {
  .re_jail .grid_wrap {
    grid-template-columns: repeat(3, auto) 200px repeat(2, 90px);
  }
}

/* tablet view */
@media screen and (max-width: 1000px) and (min-width: 601px) {
  html:not(.html-manual-desktop) .re_jail .re_row {
    margin-left: 12px;
    margin-right: 12px;
  }
  html:not(.html-manual-desktop) .re_jail .grid_wrap {
    grid-template-columns: repeat(12, 30px);
    column-gap: 0px;
    grid-template-areas: 
    "b1 b1 b1 b2 b2 b2 b3 b3 b3 b4 b4 b4"
    ". . b5 b5 b5 . . b6 b6 b6 . .";
  }
  .box1 {
    grid-area: b1;
  }
  .box2 {
    grid-area: b2;
  }
  .box3 {
    grid-area: b3;
  }
  .box4 {
    grid-area: b4;
  }
  .box5 {
    grid-area: b5;
  }
  .box6 {
    grid-area: b6;
  }
}

/* mobile view */
@media screen and (max-width: 600px) {
  html:not(.html-manual-desktop) .re_row {
    justify-content: center;
  }
  html:not(.html-manual-desktop) .re_jail .grid_wrap {
    grid-template-columns: auto auto;
  }
}


.grid_box .re_checkbox > label {
  margin-top: 0px;
  white-space: nowrap;
}


.qbust-icon {
  background-position: -20px 0px;
}
.qbye-icon {
  background-position: 0px -18px !important;
}

.bust:hover .qbust-icon, .bust.active .qbust-icon {
  background-position: -20px 0;
}
.bye:hover .qbye-icon, .bye.active .qbye-icon {
  background-position: -20px -18px !important;
}

#re_jail_refresh:active {
  position: relative;
  top: 1px;
}

.qbust-icon, .qbye-icon {
    display: inline-block;
    height: 18px;
    width: 20px;
    background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="54px" viewBox="0 0 40 54" style="overflow:visible;enable-background:new 0 0 40 54;" xml:space="preserve"> <style type="text/css"> .st0{opacity:0.6;} .st1{clip-path:url(%23SVGID_2_);} .st2{fill:url(%23SVGID_3_);} .st3{fill:url(%23SVGID_4_);} .st4{fill:url(%23SVGID_5_);} .st5{fill:url(%23SVGID_6_);} .st6{fill:url(%23SVGID_7_);} .st7{fill:url(%23SVGID_8_);} .st8{fill:none;stroke:%236BAD44;stroke-linecap:round;stroke-miterlimit:10;} .st9{fill:%236BAD44;} .st10{fill:none;stroke:%236BAD44;stroke-miterlimit:10;} .st11{fill:none;stroke:%236BAD44;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;} .st12{fill:none;stroke:%23508233;stroke-linecap:round;stroke-miterlimit:10;} .st13{fill:%23508233;} .st14{fill:none;stroke:%23508233;stroke-miterlimit:10;} .st15{fill:none;stroke:%23508233;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;} .st16{clip-path:url(%23SVGID_10_);} .st17{fill:url(%23SVGID_11_);} .st18{fill:url(%23SVGID_12_);} .st19{fill:url(%23SVGID_13_);} .st20{fill:url(%23SVGID_14_);} .st21{fill:url(%23SVGID_15_);} .st22{fill:url(%23SVGID_16_);} </style> <defs> </defs> <g class="st0"> <defs> <rect id="SVGID_1_" class="st0" width="40" height="54"/> </defs> <clipPath id="SVGID_2_"> <use xlink:href="%23SVGID_1_" style="overflow:visible;"/> </clipPath> <g id="s_1_" class="st1"> <g transform="matrix(1, 0, 0, 1, 0, 0)"> <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="-886.3333" y1="535.3365" x2="-886.3333" y2="534.3365" gradientTransform="matrix(18 0 0 -15.675 15964 8392.4014)"> <stop offset="0" style="stop-color:%23999999"/> <stop offset="1" style="stop-color:%23CCCCCC"/> </linearGradient> <path class="st2" d="M19,2.73V1H1v1.73h1.12v12.22H1v1.73h18v-1.73h-1.12V2.73H19z M16.67,15.03h-1.72V10.3 c-0.25,0.71-0.66,1.35-1.2,1.88v2.85h-1.72v-1.28H10.9v1.27H9.18v-1.27H8.05v1.27h-1.8v-2.85C5.72,11.64,5.31,11,5.05,10.3v4.73 H3.33V2.8h1.72v3.98C5.3,6.07,5.71,5.43,6.25,4.9V2.8h1.72v0.9C8.33,3.53,8.71,3.43,9.1,3.4V2.8h1.72v0.6 c0.39,0.06,0.76,0.16,1.12,0.3V2.8h1.8v2.1c0.51,0.53,0.9,1.17,1.12,1.88V2.8h1.73v12.23H16.67z M13.22,5.2L10.6,6.33L9.25,3.25 L8.65,6.7L6.18,6.25l1.35,1.8L5.5,9.25l2.7,0.52l-0.3,2.25l2.17-1.73l3.53,1.95l-1.58-3l2.55-0.98L12.1,7.52L13.22,5.2z M12.1,8.35l-1.28,0.52l0.83,1.57L9.92,9.47L8.88,10.3l0.15-1.12L7.6,8.87l1.05-0.6l-0.67-0.9L9.25,7.6l0.3-1.73l0.6,1.43 l1.35-0.6l-0.67,1.27L12.1,8.35z"/> </g> <g transform="matrix(1, 0, 0, 1, 0, 0)"> <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="-891.55" y1="535.4232" x2="-891.55" y2="534.4232" gradientTransform="matrix(20 0 0 -15.7167 17841 8452.0801)"> <stop offset="0" style="stop-color:%23999999"/> <stop offset="1" style="stop-color:%23CCCCCC"/> </linearGradient> <path class="st3" d="M16.2,45.36c-0.27,0.02-0.52,0.18-0.66,0.41l-1.07,1.98l-1.32-3.8c-0.09-0.29-0.36-0.49-0.66-0.5 c-0.3,0-0.59,0.15-0.74,0.41l-0.91,2.15l-1.4-8.43c-0.08-0.33-0.41-0.66-0.74-0.58c-0.35,0.01-0.65,0.24-0.74,0.58L6.7,47.43 l-0.99-5.29c-0.06-0.32-0.33-0.57-0.66-0.58c-0.32-0.06-0.63,0.11-0.74,0.41l-1.65,3.47H0v1.49h3.06c0.28,0,0.54-0.16,0.66-0.41 l0.91-1.82l1.49,7.44c0.09,0.34,0.4,0.57,0.74,0.58l0,0c0.37-0.01,0.69-0.29,0.74-0.66l1.24-9.67l1.07,6.36 c0.06,0.32,0.33,0.57,0.66,0.58c0.31,0.02,0.6-0.14,0.74-0.41l1.16-2.65l1.24,3.64c0.09,0.29,0.36,0.49,0.66,0.5 c0.3,0,0.59-0.15,0.74-0.41l1.65-3.14H20v-1.49L16.2,45.36z"/> </g> <g transform="matrix(1, 0, 0, 1, 0, 0)"> <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="-886.3333" y1="535.3365" x2="-886.3333" y2="534.3365" gradientTransform="matrix(18 0 0 -15.675 15964 8410.4014)"> <stop offset="0" style="stop-color:%23999999"/> <stop offset="1" style="stop-color:%23CCCCCC"/> </linearGradient> <path class="st4" d="M1,19v1.73h1.12v12.22H1v1.73h18v-1.73h-1.12V20.73H19V19H1z M14.95,20.73h1.72v12.22h-1.72v-4.73 c-0.25,0.71-0.66,1.35-1.2,1.88v2.85h-1.72v-1.27H10.9v1.27H9.18v-1.27H8.05v1.27h-1.8V30.1c-0.53-0.53-0.94-1.17-1.2-1.88v4.73 H3.33V20.73h1.72v3.97c0.25-0.71,0.66-1.35,1.2-1.88v-2.1h1.72v0.9c0.35-0.17,0.73-0.27,1.12-0.3v-0.6h1.72v0.6 c0.39,0.06,0.76,0.16,1.12,0.3v-0.9h1.8v2.1c0.51,0.53,0.9,1.17,1.12,1.88L14.95,20.73z M12.25,27.78c0-1.35-1.42-1.73-2.55-2.25 c-0.67-0.3-0.6-1.12,0.38-1.2c0.54,0.03,1.07,0.13,1.58,0.3l0.22-1.05c-0.6-0.15-1.12-0.23-1.58-0.3v-0.52H9.62v0.68 c-1.28,0.15-1.95,0.9-1.95,1.8c0,1.5,1.8,1.73,2.4,2.02c0.83,0.38,0.67,1.12-0.08,1.27c-0.71,0.09-1.44-0.02-2.1-0.3l-0.3,1.05 c0.61,0.3,1.27,0.45,1.95,0.45v0.6h0.67v-0.68C11.35,29.43,12.25,28.9,12.25,27.78L12.25,27.78z"/> </g> <g transform="matrix(1, 0, 0, 1, 0, 0)"> <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="-886.3333" y1="535.3365" x2="-886.3333" y2="534.3365" gradientTransform="matrix(18 0 0 -15.675 15984 8392.4014)"> <stop offset="0" style="stop-color:%23F03E3E"/> <stop offset="1" style="stop-color:%23FF8787"/> </linearGradient> <path class="st5" d="M39,2.73V1H21v1.73h1.12v12.22H21v1.73h18v-1.73h-1.12V2.73H39z M36.67,15.03h-1.72V10.3 c-0.25,0.71-0.66,1.35-1.2,1.88v2.85h-1.72v-1.28H30.9v1.27h-1.72v-1.27h-1.13v1.27h-1.8v-2.85c-0.53-0.53-0.94-1.17-1.2-1.88 v4.73h-1.72V2.8h1.72v3.98c0.25-0.71,0.66-1.35,1.2-1.88V2.8h1.72v0.9c0.35-0.17,0.73-0.27,1.12-0.3V2.8h1.72v0.6 c0.39,0.06,0.76,0.16,1.12,0.3V2.8h1.8v2.1c0.51,0.53,0.9,1.17,1.12,1.88V2.8h1.73v12.23H36.67z M33.22,5.2L30.6,6.33l-1.35-3.07 l-0.6,3.45l-2.47-0.45l1.35,1.8l-2.03,1.2l2.7,0.52l-0.3,2.25l2.17-1.73l3.53,1.95l-1.58-3l2.55-0.98L32.1,7.52L33.22,5.2z M32.1,8.35l-1.28,0.52l0.83,1.57l-1.72-0.98l-1.05,0.82l0.15-1.12l-1.42-0.3l1.05-0.6l-0.67-0.9l1.28,0.23l0.3-1.73l0.6,1.43 l1.35-0.6l-0.67,1.27L32.1,8.35z"/> </g> <g transform="matrix(1, 0, 0, 1, 0, 0)"> <linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="-891.55" y1="534.4232" x2="-891.55" y2="535.4232" gradientTransform="matrix(20 0 0 -15.7167 17861 8452.0801)"> <stop offset="0" style="stop-color:%2374C0FC"/> <stop offset="1" style="stop-color:%23228BE6"/> </linearGradient> <path class="st6" d="M36.2,45.36c-0.27,0.02-0.52,0.18-0.66,0.41l-1.07,1.98l-1.32-3.8c-0.09-0.29-0.36-0.49-0.66-0.5 c-0.3,0-0.59,0.15-0.74,0.41l-0.91,2.15l-1.4-8.43c-0.08-0.33-0.41-0.66-0.74-0.58c-0.35,0.01-0.65,0.24-0.74,0.58l-1.24,9.84 l-0.99-5.29c-0.06-0.32-0.33-0.57-0.66-0.58c-0.32-0.06-0.63,0.11-0.74,0.41l-1.65,3.47H20v1.49h3.06c0.28,0,0.54-0.16,0.66-0.41 l0.91-1.82l1.49,7.44c0.09,0.34,0.4,0.57,0.74,0.58l0,0c0.37-0.01,0.69-0.29,0.74-0.66l1.24-9.67l1.07,6.36 c0.06,0.32,0.33,0.57,0.66,0.58c0.31,0.02,0.6-0.14,0.74-0.41l1.16-2.65l1.24,3.64c0.09,0.29,0.36,0.49,0.66,0.5 c0.3,0,0.59-0.15,0.74-0.41l1.65-3.14H40v-1.49L36.2,45.36z"/> </g> <g transform="matrix(1, 0, 0, 1, 0, 0)"> <linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="-886.3333" y1="535.3365" x2="-886.3333" y2="534.3365" gradientTransform="matrix(18 0 0 -15.675 15984 8410.4014)"> <stop offset="0" style="stop-color:%23F08C00"/> <stop offset="1" style="stop-color:%23FCC419"/> </linearGradient> <path class="st7" d="M21,19v1.73h1.12v12.22H21v1.73h18v-1.73h-1.12V20.73H39V19H21z M34.95,20.73h1.72v12.22h-1.72v-4.73 c-0.25,0.71-0.66,1.35-1.2,1.88v2.85h-1.72v-1.27H30.9v1.27h-1.72v-1.27h-1.13v1.27h-1.8V30.1c-0.53-0.53-0.94-1.17-1.2-1.88 v4.73h-1.72V20.73h1.72v3.97c0.25-0.71,0.66-1.35,1.2-1.88v-2.1h1.72v0.9c0.35-0.17,0.73-0.27,1.12-0.3v-0.6h1.72v0.6 c0.39,0.06,0.76,0.16,1.12,0.3v-0.9h1.8v2.1c0.51,0.53,0.9,1.17,1.12,1.88L34.95,20.73z M32.25,27.78c0-1.35-1.42-1.73-2.55-2.25 c-0.67-0.3-0.6-1.12,0.38-1.2c0.54,0.03,1.07,0.13,1.58,0.3l0.22-1.05c-0.6-0.15-1.12-0.23-1.58-0.3v-0.52h-0.67v0.68 c-1.28,0.15-1.95,0.9-1.95,1.8c0,1.5,1.8,1.73,2.4,2.02c0.83,0.38,0.67,1.12-0.08,1.27c-0.71,0.09-1.44-0.02-2.1-0.3l-0.3,1.05 c0.61,0.3,1.27,0.45,1.95,0.45v0.6h0.67v-0.68C31.35,29.43,32.25,28.9,32.25,27.78L32.25,27.78z"/> </g> </g> </g> <g> <g> <g> <path class="st8" d="M5.11,7.63c0.51-2.49,2.84-4.23,5.42-3.95c2.75,0.29,4.74,2.75,4.45,5.5c-0.29,2.75-2.75,4.74-5.5,4.45 c-2.05-0.22-3.68-1.64-4.25-3.49"/> <g> <path class="st9" d="M5,8.63c0.38,0.65,0.97,1.45,1.53,1.9l-1.24-0.22l-1.1,0.63C4.57,10.32,4.86,9.38,5,8.63z"/> </g> </g> </g> <line class="st8" x1="10.01" y1="8.66" x2="12.22" y2="5.97"/> <line class="st8" x1="10.01" y1="8.66" x2="8.1" y2="7.05"/> <line class="st10" x1="10.01" y1="1.95" x2="10.01" y2="3.65"/> <line class="st11" x1="9.51" y1="1.95" x2="10.51" y2="1.95"/> <line class="st11" x1="13.23" y1="4.73" x2="13.87" y2="3.96"/> <line class="st11" x1="13.72" y1="3.54" x2="14.33" y2="3.99"/> </g> <g> <g> <g> <path class="st12" d="M25.11,7.63c0.51-2.49,2.84-4.23,5.42-3.95c2.75,0.29,4.74,2.75,4.45,5.5c-0.29,2.75-2.75,4.74-5.5,4.45 c-2.05-0.22-3.68-1.64-4.25-3.49"/> <g> <path class="st13" d="M25,8.63c0.38,0.65,0.97,1.45,1.53,1.9l-1.24-0.22l-1.1,0.63C24.57,10.32,24.86,9.38,25,8.63z"/> </g> </g> </g> <line class="st12" x1="30.01" y1="8.66" x2="32.22" y2="5.97"/> <line class="st12" x1="30.01" y1="8.66" x2="28.1" y2="7.05"/> <line class="st14" x1="30.01" y1="1.95" x2="30.01" y2="3.65"/> <line class="st15" x1="29.51" y1="1.95" x2="30.51" y2="1.95"/> <line class="st15" x1="33.23" y1="4.73" x2="33.87" y2="3.96"/> <line class="st15" x1="33.72" y1="3.54" x2="34.33" y2="3.99"/> </g> <g> <g> <g> <path class="st8" d="M5.11,25.63c0.51-2.49,2.84-4.23,5.42-3.95c2.75,0.29,4.74,2.75,4.45,5.5s-2.75,4.74-5.5,4.45 c-2.05-0.22-3.68-1.64-4.25-3.49"/> <g> <path class="st9" d="M5,26.63c0.38,0.65,0.97,1.45,1.53,1.9l-1.24-0.22l-1.1,0.63C4.57,28.32,4.86,27.38,5,26.63z"/> </g> </g> </g> <line class="st8" x1="10.01" y1="26.66" x2="12.22" y2="23.97"/> <line class="st8" x1="10.01" y1="26.66" x2="8.1" y2="25.05"/> <line class="st10" x1="10.01" y1="19.95" x2="10.01" y2="21.65"/> <line class="st11" x1="9.51" y1="19.95" x2="10.51" y2="19.95"/> <line class="st11" x1="13.23" y1="22.73" x2="13.87" y2="21.96"/> <line class="st11" x1="13.72" y1="21.54" x2="14.33" y2="21.99"/> </g> <g> <g> <g> <path class="st12" d="M25.11,25.63c0.51-2.49,2.84-4.23,5.42-3.95c2.75,0.29,4.74,2.75,4.45,5.5c-0.29,2.75-2.75,4.74-5.5,4.45 c-2.05-0.22-3.68-1.64-4.25-3.49"/> <g> <path class="st13" d="M25,26.63c0.38,0.65,0.97,1.45,1.53,1.9l-1.24-0.22l-1.1,0.63C24.57,28.32,24.86,27.38,25,26.63z"/> </g> </g> </g> <line class="st12" x1="30.01" y1="26.66" x2="32.22" y2="23.97"/> <line class="st12" x1="30.01" y1="26.66" x2="28.1" y2="25.05"/> <line class="st14" x1="30.01" y1="19.95" x2="30.01" y2="21.65"/> <line class="st15" x1="29.51" y1="19.95" x2="30.51" y2="19.95"/> <line class="st15" x1="33.23" y1="22.73" x2="33.87" y2="21.96"/> <line class="st15" x1="33.72" y1="21.54" x2="34.33" y2="21.99"/> </g> <g> <g> <g> <path class="st12" d="M25.11,44.83c0.51-2.49,2.84-4.23,5.42-3.95c2.75,0.29,4.74,2.75,4.45,5.5c-0.29,2.75-2.75,4.74-5.5,4.45 c-2.05-0.22-3.68-1.64-4.25-3.49"/> <g> <path class="st13" d="M25,45.83c0.38,0.65,0.97,1.45,1.53,1.9l-1.24-0.22l-1.1,0.63C24.57,47.52,24.86,46.58,25,45.83z"/> </g> </g> </g> <line class="st12" x1="30.01" y1="45.86" x2="32.22" y2="43.17"/> <line class="st12" x1="30.01" y1="45.86" x2="28.1" y2="44.25"/> <line class="st14" x1="30.01" y1="39.15" x2="30.01" y2="40.85"/> <line class="st15" x1="29.51" y1="39.15" x2="30.51" y2="39.15"/> <line class="st15" x1="33.23" y1="41.93" x2="33.87" y2="41.16"/> <line class="st15" x1="33.72" y1="40.74" x2="34.33" y2="41.19"/> </g> <g> <g> <g> <path class="st8" d="M5.11,44.83c0.51-2.49,2.84-4.23,5.42-3.95c2.75,0.29,4.74,2.75,4.45,5.5c-0.29,2.75-2.75,4.74-5.5,4.45 c-2.05-0.22-3.68-1.64-4.25-3.49"/> <g> <path class="st9" d="M5,45.83c0.38,0.65,0.97,1.45,1.53,1.9l-1.24-0.22l-1.1,0.63C4.57,47.52,4.86,46.58,5,45.83z"/> </g> </g> </g> <line class="st8" x1="10.01" y1="45.86" x2="12.22" y2="43.17"/> <line class="st8" x1="10.01" y1="45.86" x2="8.1" y2="44.25"/> <line class="st10" x1="10.01" y1="39.15" x2="10.01" y2="40.85"/> <line class="st11" x1="9.51" y1="39.15" x2="10.51" y2="39.15"/> <line class="st11" x1="13.23" y1="41.93" x2="13.87" y2="41.16"/> <line class="st11" x1="13.72" y1="40.74" x2="14.33" y2="41.19"/> </g> </svg>');
}
