body.dark-mode div#stats text {
  color: #DDD !important;
  fill: #DDD !important;
}

body.dark-mode div#stats g.highcharts-legend-item-hidden text {
  color: #808080 !important;
  fill: #808080 !important;
}
body.dark-mode div#stats g.highcharts-legend-item-hidden text:hover {
  color: #CCC !important;
  fill: #CCC !important;
}

body.dark-mode div#stats g.highcharts-legend-item text:hover {
  color: #EEE !important;
  fill: #EEE !important;
}

body.dark-mode g.highcharts-label.highcharts-tooltip text {
  color: #DDD !important;
  fill: #DDD !important;
}

body.dark-mode g.highcharts-label.highcharts-tooltip path.highcharts-label-box {
  fill: rgba(51, 51, 51, 0.85) !important;
}

.re_gym_gains {
  margin-top: 6px;
  margin-bottom: -6px;
}
.re_gym_gains > span {
  line-height: 15px;
  color: #678c00;
  color: var(--gym-green-color);
}


/* CSS for disabling gyms  */
.re_locked {
  display: flex;
  flex-direction: column;
}
.re_locked [class*="propertyContent_"] {
  flex: 1;
  position: relative;
}
.re_locked [class*="propertyContent_"]:after {
  background-color: var(--gym-locked-stat-overlay-bg-color);
  content: "";
  display: block;
  inset: 0;
  position: absolute;
  margin-bottom: -12px;
}

.re_locked [class*="propertyTitle__"]:before {
  filter: drop-shadow(0 0 1px rgba(238, 238, 238, .7098039216)) invert(100%) hue-rotate(90deg) !important;
}

.re_lock_button {
  height: 34px;
  width: 34px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}