/* ranked war spy column */
.re_spy_title, .re_spy_col {
  width: 40px;
  border-right: 1px solid var(--default-panel-divider-outer-side-color);
  text-align: center;
  height: 33px;
  line-height: 36px;
  border-left: 1px solid var(--default-panel-divider-inner-side-color);
  padding-left: 5px;
  padding-right: 5px;
}

.re_spy_col > i:hover, .re_spy_col .re_spy_spy {
  cursor: pointer;
}

/* ranked war Faction Tag (hide because not needed) */
.faction-war.re_rankedwar .members-list [class*="factionWrap"] {
  display: none;
}

.faction-war.re_rankedwar .members-list [class*="userWrap"] {
  margin-left: 0px;
}

/* ranked war member name column */
.d .f-war-list.war-new .faction-war.re_rankedwar .tab-menu-cont .members-cont .member, .d .f-war-list.war-new .faction-war.re_rankedwar .tab-menu-cont .members-cont .members-list .member {
  width: 135px;
}

/* ranked war member level column */
.d .f-war-list.war-new .faction-war.re_rankedwar .tab-menu-cont .members-cont .level, .d .f-war-list.war-new .faction-war.re_rankedwar .tab-menu-cont .members-cont .members-list .level {
  width: 30px !important;
}

/* ranked war member level column */
.d .f-war-list.war-new .faction-war.re_rankedwar .tab-menu-cont .members-cont .attack, .d .f-war-list.war-new .faction-war.re_rankedwar .tab-menu-cont .members-cont .members-list .attack {
  width: 30px !important;
  text-align: center;
  padding-left: 5px;
  padding-right:5px;
}

/* Planning OCs */
.re_nnb .plans-list .item>li.nnb, .re_nnb .plan-list-scrollbar .title>li.nnb {
  width: 60px !important;
  text-align: center !important;
}

.re_nnb .plans-list .item>li.level, .re_nnb .plan-list-scrollbar .title>li.level {
  width: 30px !important;
}

.re_nnb .plans-list .item>li.stat, .re_nnb .plan-list-scrollbar .title>li.stat {
  width: 100px !important;
}

.re_nnb .plans-list .item>li.offences, .re_nnb .plan-list-scrollbar .title>li.offences {
  width: 142px !important;
}

/* Already Planned Teams */
.d .faction-crimes-wrap .re_nnb .details-list .title>li.nnb, .d .faction-crimes-wrap .re_nnb .details-list .item>li.nnb {
  width: 60px;
  text-align: center;
}

.d .faction-crimes-wrap .re_nnb .details-list .title>li.level, .d .faction-crimes-wrap .re_nnb .details-list .item>li.level {
  width: 194px;
}

.re_nnb-roster {
  cursor: pointer;
}


.re_ts_roster:hover {
  cursor: pointer;
}

#tornstats-roster th, #tornstats-roster td {
  padding: 5px !important;
}

#tornstats-roster > div {
  flex: 1;
  margin: 5px;
}

#tornstats-roster table {
  width: 100%;
}

#tornstats-roster th {
  font-weight: bolder !important;
  font-size: 13px;
}

#tornstats-roster td.member, #tornstats-roster td.verified {
  text-align: center;
}
#tornstats-roster td.stats, #tornstats-roster td.rank {
  text-align: right;
}

#tornstats-roster a {
  text-decoration: none;
}

.re_nnb .plans-list .item>li.nnb, .re_nnb .plan-list-scrollbar .title>li.nnb {
  text-align: center;
}

/* ranked war divs should be half and half in desktop view*/
.re_row > div {
  box-sizing: border-box;
  width: 45%;
  max-width: 45%;
}

/*little paragraph underneath faction names for member counts being shown */
.re_mem_count {
  font-size: 12px;
  margin-top: 5px;
}


/* sort icons for spy column */
.re_sort_icon {
  display: none;
  margin: auto;
  position: relative;
  z-index: 1;
}
.re_sort_icon.re_desc {
  display: block;
  border-bottom: 0 solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--sort-arrow-border-color);
  height: 0;
  top: -1px;
  width: 0;
}
.re_sort_icon.re_asc {
  display: block;
  border-bottom: 6px solid var(--sort-arrow-color);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 0 solid transparent;
  height: 0;
  top: -8px;
  width: 0;
}

.re_sort_icon.re_desc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--sort-arrow-color);
  content: "";
  height: 0;
  left: -5px;
  position: absolute;
  top: -6px;
  width: 0;
}
.re_sort_icon.re_asc:after {
  border-bottom: 6px solid var(--sort-arrow-border-color);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  height: 0;
  left: -5px;
  position: absolute;
  top: 1px;
  width: 0;
}

/* space between paragraphs for count */
.re_mem_count p+p {
  padding-top: 2px;
}



@media screen and (max-width: 600px) {
  html:not(.html-manual-desktop)  #tornstats-roster th.rank, html:not(.html-manual-desktop) #tornstats-roster td.rank, html:not(.html-manual-desktop) #tornstats-roster td a span.userid {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  html:not(.html-manual-desktop)  #tornstats-roster th.rank, html:not(.html-manual-desktop) #tornstats-roster td.rank {
    display: none;
  }

  html:not(.html-manual-desktop) .re_row > div {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }

  html:not(.html-manual-desktop) .re_row > div:not(:last-child) {
    margin-bottom: 20px;
  }
}



@media screen and (max-width: 1000px) {
  /* Planning OCs columns */
  html:not(.html-manual-desktop) .re_nnb .plans-list .item>li.nnb, html:not(.html-manual-desktop) .re_nnb .plan-list-scrollbar .title>li.nnb {
    width: 45px !important;
  }
  html:not(.html-manual-desktop) .re_nnb .plans-list .item>li.level, html:not(.html-manual-desktop) .re_nnb .plan-list-scrollbar .title>li.level {
    width: 25px !important;
  }
  html:not(.html-manual-desktop) .re_nnb .plans-list .item>li.offences, html:not(.html-manual-desktop) .re_nnb .plan-list-scrollbar .title>li.offences {
    width: 60px !important;
  }

  /* Already Planned Teams */
  html:not(.html-manual-desktop) .d .faction-crimes-wrap .re_nnb .details-list .title>li.nnb, html:not(.html-manual-desktop) .d .faction-crimes-wrap .re_nnb .details-list .item>li.nnb {
  width: 42px;
  }
  html:not(.html-manual-desktop) .d .faction-crimes-wrap .re_nnb .details-list .title>li.level, html:not(.html-manual-desktop) .d .faction-crimes-wrap .re_nnb .details-list .item>li.level {
    width: 42px;
  }


  /* ranked war member name column */
  .d .f-war-list.war-new .faction-war.re_rankedwar .tab-menu-cont .members-cont .member, .d .f-war-list.war-new .faction-war.re_rankedwar .tab-menu-cont .members-cont .members-list .member {
    width: 135px;
  }

  html:not(.html-manual-desktop) .re_mem_count {
    display: none;
  }
}

@media screen and (max-width: 784px) {
  /* Planning OCs columns */
  html:not(.html-manual-desktop) .re_nnb .plans-list .item>li.nnb, html:not(.html-manual-desktop) .re_nnb .plan-list-scrollbar .title>li.nnb {
    width: 40px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
  html:not(.html-manual-desktop) .re_nnb .plans-list .item>li.level, html:not(.html-manual-desktop) .re_nnb .plan-list-scrollbar .title>li.level {
    width: 25px !important;
    display: none;
  }
  html:not(.html-manual-desktop) .re_nnb .plans-list .item>li.offences, html:not(.html-manual-desktop) .re_nnb .plan-list-scrollbar .title>li.offences {
    width: 60px !important;
  }
  html:not(.html-manual-desktop) .r .faction-crimes-wrap .begin-wrap .re_nnb .plans-list .item>li.member, html:not(.html-manual-desktop) .r .faction-crimes-wrap .begin-wrap .re_nnb .plan-list-scrollbar .title>li.member {
    width: 186px;
  }

  /* Already Planned Teams */
  html:not(.html-manual-desktop) .d .faction-crimes-wrap .re_nnb .details-list .title>li.nnb, html:not(.html-manual-desktop) .d .faction-crimes-wrap .re_nnb .details-list .item>li.nnb {
    width: 42px !important;
  }
  html:not(.html-manual-desktop) .d .faction-crimes-wrap .re_nnb .details-list .title>li.level, html:not(.html-manual-desktop) .d .faction-crimes-wrap .re_nnb .details-list .item>li.level {
    width: 42px;
    display: none;
  }


  /* ranked war member name column */
  .d .f-war-list.war-new .faction-war.re_rankedwar .tab-menu-cont .members-cont .member, .d .f-war-list.war-new .faction-war.re_rankedwar .tab-menu-cont .members-cont .members-list .member {
    width: 135px;
  }

  /* ranked war spy column */
  .re_spy_title, .re_spy_col {
    padding-left: 1px !important;
    padding-right: 0px !important;
  }

  html:not(.html-manual-desktop) .re_mem_count {
    display: none;
  }
}




/* Color CSS */
#tornstats-roster th, #tornstats-roster td {
  border: 1px solid var(--panel-divider-outer-side-color);
}
body.dark-mode #tornstats-roster th, body.dark-mode #tornstats-roster td {
  color: #DDD;
}

#tornstats-roster table {
  border: 2px solid var(--panel-divider-outer-side-color);
  background-color: var(--default-bg-panel-color);
}

#tornstats-roster a, #tornstats-roster a:visited {
  color: #069;
}
#tornstats-roster a:hover {
  color: #62b4fd;
}
#tornstats-roster a:active {
  color: #a71d2a;
}

body.dark-mode #tornstats-roster a, body.dark-mode #tornstats-roster a:visited {
  color: #62b4fd;
}
body.dark-mode #tornstats-roster a:hover {
  color: #74c0fc;
}
body.dark-mode #tornstats-roster a:active {
  color: #a71d2a;
}

td.red {
  font-weight: bold !important;
  color: #d83500;
}
td.green {
  font-weight: bold !important;
  color: #678c00;
}
body.dark-mode td.red {
  font-weight: bold !important;
  color: #b96a6a  !important;
}
body.dark-mode td.green {
  font-weight: bold !important;
  color: #4ea87b  !important;
}
