#re_loot_time {
  text-transform: capitalize;
}

.re_lootwrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


@media screen and (max-width: 600px) {
  #re_loot_time {
    margin-top: 2px;
    display: none;
  }

  .re_lootwrap {
    flex-direction: column;
  }

  /* modified Torn styles */
div[class^="playersModelWrap"] div[class^="boxTitle"] {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px 0;
  }
}

@media screen and (min-width: 1001px) {
  #defender [class^="topWrap_"] [class^="textEntries_"] [class^="entry_"] {
      margin-left: 10px;
  }

  /*fix tooltip on left align only on desktop */
.re_leftalign #\#react-tooltip-attacker_strength {
  left: 101px !important;
}
.re_leftalign #\#react-tooltip-attacker_strength [class*="tooltipArrowWrap_"] {
  left: -45px;
}
}
